.debug header{
    background-color: rgb(15, 15, 53);
    height: 70px;
}

.debug main [class^="row"]{
    height: 200px;
}

.debug .hero{
    background-color: rgb(0, 143, 143);
}

.debug .portfolio{
    background-color: gray;
}

.debug .about{
    background-color: indigo;
}

.debug .contact{
    background-color: lightsalmon;
}

.debug .closer{
    background-color: maroon;
    height: 150px;
}
/* ************************************************************************ */
.nav{
    height: 70px;
}

.nav_title h1{
    color: white;
    font-size: 1.5rem;
}

.nav_title,
.nav_menu{
    display: flex;
    align-items: center;
    height: 100%;
}
