

/*********************************************
                    COMMON
**********************************************/

.hero,
.about,
.nav{
    color: white;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.7rem;
}

.hero,
.about{
    background-color: #1ABC9C;
}

.hero .col,
.portfolio .col,
.about .col,
.contact .col{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/**********************************************
                        NAV
************************************************/
.navbar-brand{
    font-weight: 500;
}

.navbar

.nav{
    height: 70px;
}

.navbar{
    background-color: #2C3E50;
}

.nav_title h3{
    font-size: 1.5rem;
}

.nav_title,
.nav_menu{
    display: flex;
    align-items: center;
}

.nav_menu i{
    color: lightgray;
    font-size: 1.2rem;
}

/**********************************************
                    HERO
***********************************************/



.hero img{
    width: 50%;

}

.bar{
    height: 5px;
    border-radius: 10px;
}

.star{
    font-size: 2rem;
}

.persona{
    font-weight: 500;
}

/*************************************************
                    PORTFOLIO
************************************************/
.portfolio .bar,
.contact .bar{
    background-color: #2C3E50;
}

.star.blue{
    color: #2C3E50;
}


.portfolio img{
    border-radius: 20px;
    width: 100%;
}

.portfolio [class^="col"] {
    padding-top: 30px;
}

/*************************************************
                    ABOUT
*************************************************/

.about p{
    font-size: 1.4rem;
    font-size: 500;

}

.btn{
    font-size: 1.3rem;
}

.input,
.send{
    all: unset;

}

textarea,
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ced4da;
}

.send{
    color: white;
    font-weight: 500;
    background-color: #1ABC9C;
    font-size: 1.3rem;
    border-radius: 10px;
}

