
/*********************************************
                    COMMON
**********************************************/

.hero,
.about,
.nav{
    color: white;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.7rem;
}

/**********************************************
                        NAV
************************************************/


.nav{
    height: 70px;
}

header{
    background-color: #2C3E50;
}

.nav_title h3{
    font-size: 1.5rem;
}

.nav_title,
.nav_menu{
    display: flex;
    align-items: center;
}

.nav_menu i{
    color: lightgray;
    font-size: 1.2rem;
}

/**********************************************
                    HERO
***********************************************/



.hero img{
    width: 50%;

}

.hero .col,
.portfolio .col,
.about .col{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bar{
    height: 5px;
    border-radius: 10px;
}

.star{
    font-size: 2rem;
}

.persona{
    font-weight: 500;
}

/*************************************************
                    PORTFOLIO
************************************************/
.portfolio .bar{
    background-color: #2C3E50;
}

.portfolio .star{
    color: #2C3E50;
}

.portfolio img{
    width: 100%;
    border-radius: 20px;
}

.portfolio [class^="col"] {
    padding-top: 30px;
}

/*************************************************
                    ABOUT
*************************************************/
